---
layout: full
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png"  href="assets/img/favicon.png">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
 
    <header>
      <img src="/ada-template-website/assets/img/title2.png">
    </header>
    <nav>
        <ul>
            <li><a href="#mobillity">Analysing Mobility Data</a></li>
            <li><a href="#grouping">Grouping Countries by Response</a></li>
            <li><a href="#polling">Obtaining Polling Data</a></li>
        </ul>
    </nav>
    <main>
        <section id="inroduction">
            <h2> Intro </h2>
            <p>
                In November 2019, the world heard the word CORONAVIRUS, which a few months later 
                became COVID-19. This is the disease caused by the virus SARS-CoV-2 that was first 
                discovered in China. From that moment on, the spread of this virus continued to increase. 
                Indeed, the pandemic spread from country to country, so it is now present almost everywhere.
                Millions of people have been infected, with over four hundred thousand deaths!
            </p>
            <p>
                The pandemic and its rapid spread caused fear worldwide. Sanitary measures and restrictions 
                were quickly put in place in many countries. Among the decisions taken by government leaders, 
                those related to the mobility of individuals were the most significant. Indeed, the movement of 
                each person in the neighbourhood and places of leisure, work, etc., has become prohibited except 
                in exceptional cases. Schools, nurseries, universities, canteens, restaurants, shops 
                (except essential ones), etc., were closed.
            </p>
            <p>
                At this level, we ask the following question: did the implementation of these restrictions 
                impact political sentiment?
            </p>
        </section>
        <section id="mobillity">
            <h2>Analysing Mobility Data</h2>
            <p>
                We can also plot the mobility data with the intervention dates overlayed.
                This will allow us to see how populations reacted to the pandemic 
                (i.e. did mobility decrease only once governments imposed mobility restrictions,
                  or did people preemptively reduce their own mobility). Alongside the polling data, 
                  this could potentially allow us to deduce whether populations had trust in their government. 
                  For instance, if government support was high and mobility was reduced before restrictions 
                  were imposed (i.e. when governments issued guidance), then it can suggest a high level of trust in the government.
            </p>
            <div class="wrap--mob">
                <div id="arrow-left--mob" class="arrow--mob"></div>
            
                <div id="slider--mob">
                    <div class="slide--mob slide1--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>            
                    <div class="slide--mob slide2--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                    <div class="slide--mob slide3--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                    <div class="slide--mob slide4--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>            
                    <div class="slide--mob slide5--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                    <div class="slide--mob slide6--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                    <div class="slide--mob slide7--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>            
                    <div class="slide--mob slide8--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                    <div class="slide--mob slide9--mob">
                        <div class="slide-content--mob">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div id="arrow-right--mob" class="arrow--mob"></div>
            </div>
        </section>
        <section id="grouping">
            <h2> Grouping Countries by Response </h2>
            <p>
                We can imagine that countries can be grouped together based on their response to the COVID pandemic.
            </p>
            <p>
                From <b>interventions.csv</b>, we can calculate how long it took for the first measures to be imposed after
                the first case in the country, and for how long mobility in the country was reduced. 
                Based on these two measures, we can try to find clusters of countries in order to group them.
            </p>
            <p>
                At this level, we ask the following question: did the implementation of these restrictions 
                impact political sentiment?
            </p>
            <p>
                We calculate the Silhouette Score for different numbers of clusters in order to find the 
                number of clusters.
            </p>
            <img class="plot--img" src="img/Shilhouetette_Score_for_Each_Value_of_K.png" alt="Score">
            <p>We can identify the following groups of countries:</p>
            <ol>
                <li>
                    Big European economies which took a long time to react to COVID
                    (possibly due to not wanting to harm the economy or being less able
                      to enforce measures over a large population) and ended up having long 
                      periods of reduced mobility (France, Germany, Italy).
                </li>
                <li>
                    Smaller highly developed European countries which reacted quickly to COVID 
                    and had shorter periods of reduced mobility (Denmark, Netherlands, Norway).
                </li>
                <li>
                    Countries which took longer to react to COVID but had shorter periods of
                    reduced mobility (Finland, Japan, Sweden).
                </li>
                <li>
                    Countries with relatively short periods of reduced mobility compared to 
                    other countries (Serbia, South Korea).
                </li>
            </ol>
            <p>
                Spain is the only country not featured in the plot above. 
                We take a look at its entry in <b>interventions.csv</b>.
            </p>
            <img class="plot--img" src="img/redused_Mobility_VS_Response_Time.png" alt="Mobility">
            <p>
                The response time was not swift relative to other countries. The datapoint is not 
                plotted due to having an undefined duration of the reduced mobility period, since 
                there is no date for the return to normal mobility levels. We can say that the reduced 
                mobility period is also a long one, which would place Spain in group 1 - big European 
                economies with a long response time and long period of reduced mobility.
            </p>
        </section>
        <section id="polling">
            <h2>Obtaining Polling Data</h2>
            <p>
                We obtain polling data from <a href="https://filipvanlaenen.github.io/eopaod/">European Opinion Polls as Open Data</a> - a collection of opinion polls for European countries.
            </p>
            <p>
                The dataset, understandably, lacks data for Japan and South Korea. Data for Serbia 
                is not present either. Nonetheless, we still have data for 9 of the 12 countries, 
                so we continue working with these countries instead.
            </p>
            <p>Our final groups of countries based on response to the pandemic are:</p>
            <ol>
                <li>France, Germany, Italy, Spain</li>
                <li>Denmark, Netherlands, Norway</li>
                <li>Finland, Sweden</li>
            </ol>
            <p>We also have the following geographic groups:</p>
            <ol>
                <li>Northern Europe - Denmark, Finland, Norway, Sweden</li>
                <li>Western Europe - France, Germany, Netherlands</li>
                <li>Southern Europe - Italy, Spain</li>
            </ol>
            <p>
                For each country, we plot the polling data for the current 5 most represented parties
                in parliament (excluding parties founded in 2021 or later). Our error bars represent
                  the standard deviation each month.
            </p>
            <p>
                In addition, we denote with <b>*</b> the main party in government at the beginning of the 
                pandemic and when the first COVID related death occured. This represents the beginning 
                of when the population becomes seriously affected by the virus.</p>
            </p>
            <h3>Group 1</h3>
            <section class="group">
                <div class="wrap">
                    <div id="arrow-left" class="arrow"></div>
                
                    <div id="slider">
                        <div class="slide slide1">
                            <div class="slide-content">
                                <span></span>
                            </div>
                        </div>
                
                        <div class="slide slide2">
                            <div class="slide-content">
                                <span></span>
                            </div>
                        </div>
                
                        <div class="slide slide3">
                            <div class="slide-content">
                                <span></span>
                            </div>
                        </div>
                        <div class="slide slide4">
                            <div class="slide-content">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div id="arrow-right" class="arrow"></div>
                </div>
                <p>
                    We observe that for countries in group 1 (large economies), the populations
                    reacted differently. In Germany, a sharp rise in popularity for the ruling 
                    party was observed, indicating support for stability and implementating
                      sanitary measures. In Spain, it is the main opposition party which sees 
                      a rise in popularity. In Italy, we observe a continual decrease in support
                      for the main party in government which began before the pandemic itself, 
                      indicating domestic issues were more influencial than the pandemic for 
                      the party's popularity.   
                </p>
            </section>
            <h3>Group 2</h3>

        </section>
    </main>
    <footer>
        <a href="https://github.com/epfl-ada/ada-2025-project-victoriaandtheboys"><img src="img/ivon.png" alt="" title="GitHub"></a>
        <div class="link--git">
            <div class="ling--git--item">
              <a href="{{ site.github.owner_url }}">Eugenio Campanelli</a>
            </div>
            <div class="ling--git--item">
              <a href="https://github.com/antonhosgood"> Anton Hosgood</a>
            </div>
            <div class="ling--git--item">
              <a href="https://github.com/tecabert"> Thomas Ecabert </a> 
            </div>
            <div class="ling--git--item">
              <a href="https://github.com/Ravosoa"> Tiavina Rafiringa</a>
            </div>
          </div>
    </footer>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
